extends layout

block content

    // div(style="display:flex; flex-direction:column; align-items:center; justify-content:center;")
    div.section.banner
        img(
            src="/images/shyne-icon-transparent.png" 
            height="200" 
            width="200"
        )
        p(style="margin-top: 0px; position: relative; top: -40px;") 
            | Shed light on your money


        h1.text-center.pre(style="margin: 0px 16px; ") 
            | Get a clear picture of your financial health 
            | with Shyne.

        h1(style="margin: 64px 0px") Coming soon.

    div.section.flex.row.center
        img.screenshot.lg(src="/images/shyne-1242x2208/welcome.png")
        img.screenshot(src="/images/shyne-1242x2208/inbox.png")
        img.screenshot(src="/images/shyne-1242x2208/charts.png")

    div.section
        div.feature-block
            img.screenshot(src="/images/shyne-1242x2208/select-your-bank.png")

            div.text
                h2 Connect everything

                p
                    | Shyne lets you connect your online financial accounts and aggregates 
                    | your data all in one place, giving you a complete picture of your finances.


    div.section
        div.feature-block.lg
            img.screenshot(src="/images/shyne-1242x2208/inbox.png")

            div.text
                h2 Total control
                
                p
                    | Shyne gives you convenience, flexibility, and control over how you track your expenses
                    | with auto-categorizing and custom tagging.

                h3 Auto-categorizing
                
                p 
                    | Shyne auto-categorizes your transactions into basic categories like "Restaurants" and "Automotive".  

                h3 Custom tagging
                
                p
                    | On top of auto-categorizing, Shyne gives you the flexibility to organize expenses 
                    | how you wish with custom tags.
                p
                    | Keep track of your business expenses, your holiday budget, how much you're spending on 
                    | each of your kids, or whatever else you can think of by creating a tag for it.  
                p
                    | Shyne even learns your tagging patterns and auto-tags new transactions for you. 


        div.feature-block.sm
            img.screenshot(src="/images/shyne-1242x2208/inbox.png")

            div.text
                h2 Total control
                
                p
                    | Shyne gives you convenience, flexibility, and control over how you track your expenses
                    | with auto-categorizing and custom tagging.

            div.text
                h3 Auto-categorizing
                
                p 
                    | Shyne auto-categorizes your transactions into basic categories like "Restaurants" and "Automotive".  

                h3 Custom tagging
                
                p
                    | On top of auto-categorizing, Shyne gives you the flexibility to organize expenses 
                    | how you wish with custom tags.
                p
                    | Keep track of your business expenses, your holiday budget, how much you're spending on 
                    | each of your kids, or whatever else you can think of by creating a tag for it.  
                p
                    | Shyne even learns your tagging patterns and auto-tags new transactions for you. 



    div.section
        div.feature-block
            img.screenshot(src="/images/shyne-1242x2208/recent-upcoming-trxs.png")

            div.text
                h2 Spending projections
                p
                    | Shyne uses machine intelligence to analyze your spending patterns and project your expenses 
                    | for the weeks ahead, giving you a preview of what's to come and helping you plan.



    div.section
        div.feature-block-wide
            img.screenshot.lg(src="/images/shyne-1242x2208/push-notifs.png")
            img.screenshot(src="/images/shyne-1242x2208/bill-reminders.png")

            div.text
                h2 Automatic bill reminders
                p
                    | Shyne detects recurring payments and automatically sends a reminder of your upcoming 
                    | bills for the week ahead. 
                    | You can also configure your own reminders.


    div.section
        div.feature-block-wide
            img.screenshot(src="/images/shyne-1242x2208/charts.png")
            img.screenshot.lg(src="/images/shyne-1242x2208/liquid-funds.png")
            div.text
                h2 Charts and more
                p 
                    | Shyne features custom charts, split transactions, the ability to track 
                    | your non-account cash transactions, and more.

    div.section
        div.feature-block
            img.screenshot(src="/images/shyne-1242x2208/security.png")
            div.text
                h2 Security and privacy
                p
                    | Shyne is secure and uses industry-standard bank-level security protocols to encrypt and protect your data. 

                h3 Your data is yours
                p 
                    | Shyne lets you download your transaction history and/or delete it from our servers at any time, with the tap of a button. 

    div.section
        div.feature-block
            img.screenshot(src="/images/shyne-1242x2208/free-to-try.png")
            div.text
                h2 Free to try
                p 
                    | Shyne offers a 30-day free trial, after which you can choose to be billed monthly or yearly.
                    | Cancel any time.
 
    div.section
        div.shyne-different
            h2 What makes Shyne different?

            p.pre.text-center
                | There are plenty of personal finance &amp; budgeting apps out there, 
                | so why choose Shyne?

            p
                | Shyne was built for and by people who want... 

            ol
                li An easy and intuitive way to monitor and review their transaction activity &mdash; i.e. an "Inbox".
                li The power and flexibility to organize expenses how they wish &mdash; i.e. a custom tagging system.
                li An app that helps them plan, with automatic bill reminders and spending projections at a glance.
                li 
                    | Above all, <i>simplicity</i>.  
                    | Shyne makes it easy.  Spend just two minutes a day reviewing, tagging, and filing away the transactions 
                    | in your Inbox.  Shyne will do the rest.

            
            p.text-center
                | If that sounds like you, then give Shyne a try.  
                br
                | First month is free, cancel any time.



    div.section
        div.flex.column.center
            h1 Coming soon.

            p Contact us at 
                a(href="mailto:info@shynemoney.com") info@shynemoney.com.


            p
                a(href="/terms") Terms  
                | | 
                a(href="/privacy") Privacy
