extends layout

block content

    div(style="display:flex; flex-direction:column; align-items:center; justify-content:center;")
        img(src="/images/shyne-icon-transparent.png" 
            height="200" 
            width="200"
            )
        p(style="margin-top: 0px; position: relative; top: -40px;") Shed light on your money

        p(style="margin-top: 40px") Coming soon.

        p(style="margin-top: 0px") Contact us at info@shynemoney.com.

    // p Why makes Shyne different?

    // p
    //     | Flexible, personalized organization: All money-managing apps out there auto categorize into the standard generic hierarchical categories, and Shyne is no exception.
    //     | Shyne allows you to layer over that with your own tags, giving you the power to categorize your data to suit your needs.


    
