extends layout

block content

    // div(style="display:flex; flex-direction:column; align-items:center; justify-content:center;")
    div.section.banner
        div.banner-content
            div.banner-left
                img.title-logo(
                    src="/images/shyne-icon-transparent.png" 
                )
                p(style="margin-top: 0px; position: relative; top: -70px;") 
                    | Shed light on your money


                h1.text-center.pre.highlight(style="margin: 0px 16px; ") 
                    | Simple. Flexible. Fast.
                    | Expense Tracking.

                h1(style="margin: 64px 0px") Available soon.
            div.banner-right
                img.screenshot.banner-img1(src="/images/shyne-1242x2208/charts.png")
                img.screenshot.banner-img2(src="/images/shyne-1242x2208/inbox.png")
        

    // div.section.flex.row.center
    //     img.screenshot.lg(src="/images/shyne-1242x2208/welcome.png")
    //     img.screenshot(src="/images/shyne-1242x2208/inbox.png")
    //     img.screenshot(src="/images/shyne-1242x2208/charts.png")

    div.section
        div.feature-block
            img.screenshot(src="/images/shyne-1242x2208/select-your-bank.png")

            div.text
                h2 Connect everything

                p
                    | Shyne lets you connect your online financial accounts and aggregates 
                    | your data all in one place, giving you a complete picture of your finances.


    div.section
        div.feature-block.lg
            img.screenshot(src="/images/shyne-1242x2208/inbox.png")

            div.text
                h2 Easy tracking
                
                p
                    | Shyne gives you convenience and flexibility 
                    | with auto-categorizing and custom tagging.

                h3 Auto-categorizing
                
                p 
                    | Shyne auto-categorizes your transactions into predictable categories 
                    | like "Restaurants" and "Automotive".  

                h3 Custom tagging
                
                p
                    | With Shyne you can define your own tags to track the things you care about.
                p
                    | Keep track of your business expenses, your holiday budget, how much you're spending on 
                    | each of your kids, or whatever else you can think of by making a tag for it.  
                p
                    | Shyne even learns your tagging patterns and auto-suggests tags on new transactions.


        div.feature-block.sm
            img.screenshot(src="/images/shyne-1242x2208/inbox.png")

            div.text
                h2 Easy tracking
                
                p
                    | Shyne gives you convenience and flexibility
                    | with auto-categorizing and custom tagging.

            div.text
                h3 Auto-categorizing
                
                p 
                    | Shyne auto-categorizes your transactions into predictable categories 
                    | like "Restaurants" and "Automotive".  

                h3 Custom tagging
                
                p
                    | With Shyne you can define your own tags to track the things you care about.
                p
                    | Keep track of your business expenses, your holiday budget, how much you're spending on 
                    | each of your kids, or whatever else you can think of by making a tag for it.  
                p
                    | Shyne even learns your tagging patterns and auto-suggests tags on new transactions.



    div.section
        div.feature-block
            img.screenshot(src="/images/shyne-1242x2208/export.png")

            div.text
                h2 Export reports
                p
                    | Shyne lets you export transaction records in a
                    | universally compatible format, which you can then import
                    | into Google Sheets, Excel, or any tool that accepts CSV
                    | files. 

    div.section
        div.feature-block
            img.screenshot(src="/images/shyne-1242x2208/recent-upcoming-trxs.png")

            div.text
                h2 Spending projections
                p
                    | Shyne uses machine intelligence to analyze spending patterns and project expenses 
                    | for the weeks ahead, giving you a preview and helping you plan.



    div.section
        div.feature-block-wide
            img.screenshot.lg(src="/images/shyne-1242x2208/push-notifs.png")
            img.screenshot(src="/images/shyne-1242x2208/bill-reminders.png")

            div.text
                h2 Automatic bill reminders
                p
                    | Shyne detects recurring payments and automatically sends a reminder of your upcoming 
                    | bills for the week ahead. 
                    | You can also configure your own reminders.


    div.section
        div.feature-block-wide
            img.screenshot(src="/images/shyne-1242x2208/charts.png")
            img.screenshot.lg(src="/images/shyne-1242x2208/liquid-funds.png")
            div.text
                h2 Charts and more
                p 
                    | Shyne features custom charts, split transactions, the ability to track 
                    | your non-account cash transactions, and more.

    div.section
        div.feature-block
            img.screenshot(src="/images/shyne-1242x2208/security.png")
            div.text
                h2 Security and privacy
                p
                    | Shyne is secure and uses industry-standard bank-level security protocols to encrypt and protect your data. 

                h3 Your data is yours
                p 
                    | Shyne lets you download your transaction history and/or delete it from our servers at any time, with the tap of a button. 

    div.section
        div.feature-block
            img.screenshot(src="/images/shyne-1242x2208/free-to-try.png")
            div.text
                h2 Free to try
                p 
                    | Shyne offers monthly and yearly plans and a 30-day free trial.
                    | Cancel any time.
 
    div.section
        div.shyne-different
            h2 What makes Shyne different?

            p.pre.text-center
                | There are plenty of expense tracking &amp; budgeting apps out there, 
                | so why choose Shyne?

            p
                | Shyne was built for and by people who want... 

            ol
                li An intuitive way to monitor their transaction activity &mdash; i.e. an "Inbox".
                li Flexibility over how they organize expenses &mdash; i.e. a custom tagging system.
                li An app that helps them plan, with automatic bill reminders and spending projections.
                li 
                    | Above all, <i>simplicity</i>.  
                    | Shyne makes it easy.  Spend just a minute a day tagging and filing away the transactions 
                    | in your Inbox.  Shyne does the rest.

            
            p.text-center
                | First month is free, cancel any time.



    div.section
        div.flex.column.center
            h1 Available soon.

            p Contact us at 
                a(href="mailto:info@shynemoney.com") info@shynemoney.com.

    div.flex.row.center.footer-section.border-top
        div.flex.footer-content
            div
                span.footer-word Long Connections LLC
                span.footer-sep &middot;
                span.footer-word Boulder, CO
            div
                span.footer-word
                    a(href="/terms") Terms
                span.footer-sep &middot;
                span.footer-word
                    a(href="/privacy") Privacy
                span.footer-sep &middot;
                span.footer-word
                    a(href="https://pngtree.com/") Graphics from pngtree.com


