doctype html
html
  head
    title Shyne
    link(rel='stylesheet', href='/stylesheets/style.css')
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    <meta property="og:url"                content="https://www.shynemoney.com" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Shed light on your money with Shyne" />
    <meta property="og:description"        content="Shyne lets you connect your online financial accounts and gives you a complete picture of your financial health." />
    <meta property="og:image"              content="https://www.shynemoney.com/images/shyne-icon-transparent.png" />
    

  body
    block content
